.TelaFinal .titulo {
   
    width: 374px;
    height: 110px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    justify-content: center;
    color: #247A6B;
}

.TelaFinal .Conteudo {
  
}
.TelaFinal .filmes {
    margin-top: 250px;
}

.filmes .titulo {
width: 374px;
height: 110px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #293845;

}
.filmes .descricao {

    
    width: 374px;
    height: 110px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #293845;
    margin-top: -30px;
}

.ingressos .titulo {
    width: 374px;
    height: 110px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    
    color: #293845;
    margin-top: -30px; 
    
    }
.ingressos .descricao {

    
        width: 374px;
        height: 110px;
        display: flex;
        justify-content: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.04em;
        color: #293845;
        margin-top: -30px;
    }
.comprador .titulo {
        width: 374px;
        height: 110px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        margin-top: -30px;
        color: #293845;
        
        }
.comprador .descricao {
    
        
            width: 374px;
            height: 110px;
            display: flex;
            justify-content: center;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 0.04em;
            color: #293845;
            margin-top: -30px;
        }



.TelaFinal .reserva {

width: 225px;
height: 42px;

display: flex;
justify-content: center;
align-items: center;
color: #FFFFFF;
background: #E8833A;
border-radius: 3px;
}
