.TelaAssentos {
    
    justify-content: center;
}
.TelaAssentos .conteudo .bolinhas {
width: 26px;
height: 26px;
background: #C3CFD9;
border: 1px solid #808F9D;
box-sizing: border-box;
border-radius: 12px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 7px;
margin-bottom: 7px;
}
.TelaAssentos .conteudo {
    width: 350px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-left:20px ;
    margin-top: -50px;
}
.TelaAssentos .titulo {
    
    width: 374px;
    height: 110px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.04em;
    color: #293845;

    margin-top: -120px;
    margin-bottom: 30px;
    }
    
.TelaAssentos .footer {
    position: fixed;
    width: 375px;
    height: 117px;
    left: 0px;
    bottom: 0px;
    background: #DFE6ED;
    border: 1px solid #9EADBA;
}

.TelaAssentos .status{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: 20px;
}
.TelaAssentos .status .disponivel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TelaAssentos .status .selecionado {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TelaAssentos .status .indisponivel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TelaAssentos .status .disponivel div {

    width: 24px;
    height: 24px;
    background: #C3CFD9;
    border: 1px solid #7B8B99;
    box-sizing: border-box;
    border-radius: 17px;
}

.TelaAssentos .status .disponivel h1 {
    width: 91px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.013em;
    color: #4E5A65;
}

.TelaAssentos .status .selecionado div {
    width: 25px;
    height: 25px;
    background: #8DD7CF;
    border: 1px solid #1AAE9E;
    box-sizing: border-box;
    border-radius: 17px;
    display: flex;
    justify-content: center;
}
.TelaAssentos .status .selecionado h1 {
    width: 91px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.013em;
    
    color: #4E5A65;
}

.TelaAssentos .status .indisponivel div {
    width: 24px;
    height: 24px;
    background: #FBE192;
    border: 1px solid #F7C52B;
    box-sizing: border-box;
    border-radius: 17px;
}
.TelaAssentos .status .indisponivel h1 {
    width: 91px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: -0.013em;
    
    color: #4E5A65;
}

.TelaAssentos .status {
    margin-top: 130px;
    margin-left: 0px;
}
.dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: ;
}

.dados .nome h1{
   
    width: 327px;
    height: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #293845;
    margin-top: 10px;
}
.dados .nome input{
    width: 327px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 10px;
}
.dados .cpf h1 {
width: 327px;
height: 25px;
left: 24px;
top: 555px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
color: #293845;
margin-top: 10px;
}
.dados .cpf input {
width: 327px;
height: 51px;
left: 24px;
top: 580px;

background: #FFFFFF;
border: 1px solid #D5D5D5;
box-sizing: border-box;
border-radius: 3px;
margin-top: 10px;
}

.TelaAssentos .reserva {
color: #FFFFFF;
width: 225px;
height: 42px;
background: #E8833A;
border-radius: 3px;
margin-top: 57px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 80px;

}

.selecionado2 {
    background: #8DD7CF!important; 
}

.disponivel2 {
    background: #C3CFD9!important;
}
.indisponivel2 {
    background: #FBE192!important;
}